---
layout: null
sitemap: false
---

$brand-colour: #0085ff;
$nav-header-height: 60px;
$nav-background-color: #f5f5f5;
$nav-width: 210px;

$space: 20px;

$mobile-break: 700px;

@import "mixins";
@import "main";
@import "borland";
@import "monaki";


header .open-nav {
  background-image: url({{site.baseurl}}/images/menu.svg);
}

a {
  &.active { color: $brand-colour !important; }
  &:not(.active):hover { font-weight:500 !important; }
}

a.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $nav-background-color;
  font-weight: 100;

  strong {
    font-weight: 600;
  }

  img {
    margin-right: 0;
  }
}

.left-docs > div[class*="wistia"] {
  margin-bottom: 1em;
}

// wistia video
.wistia_responsive_padding {
  padding: 56.25% 0 0 0;
  position: relative;

  &:after {
    content: 'Loading';
    position: absolute;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    font-size: 24px;
  }

  .wistia_responsive_wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .wistia_embed {
      height: 100%;
      width: 100%
    }
  }
}
